.about-header-contact {
    @extend .about__office__header;
    display: none;
    @include desktop {
        display: flex;
    }
}









.prices {
    padding: 4rem 0;
    display: flex;
    @include flex-djacai(column, center, center, center);
    background-image: url('../static/background-color-rev.svg');
    //background-repeat: none;
    background-size: cover;
    //margin-bottom: $section-bottom-margin;
    & .about-header-prices {
        @extend .about__office__header;
        margin: 0;
        @include desktop {
            display: flex;
        }
    }
}
.prices-card {
    @extend .about__team__wr__slides;
    display: flex;
    @include flex-djacai(column, center, center, center);
}
.prices-table {
    @extend .about__team__wr__slides__text__wr__hours;
    margin: 1rem 0;
    //box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    margin: 1.8rem;
    //max-width: 1500px;
    @include desktop {
        width: 60%;
    }
    & tr th {
        padding: 0.8rem 0.5rem;
    }
    & tr td {
        padding: 0.5rem 0.5rem;
    }
}





.contact {
    display: flex;
    @include flex-djacai(column, center, center, center);
    & .contact-wrapper {
        // @include flex-djacai(column, center, center, center);
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr 30px 1fr;
            grid-template-rows: auto;
            column-gap: 1rem;
            grid-template-areas: 
                "phone phone . hours"
                "phone phone . hours"
                "email email . hours";
            width: 60vw;
            margin: 2rem 0 0 0;
        }
    }
}

.map {
    margin-top: 2rem;
    width: 100vw;
    height: 60vh;
}

#calendar-icon, .phone-icon, #plane-icon {
    width: 100px;
    margin: 1em 0 1em 0;
}
#calendar-icon {
    @include desktop {
        width: 150px;
    }
}

.contact-box {
    @extend .about__team__wr__slides;
    margin-bottom: 2rem;
    //display: none;
    @include desktop {
        box-shadow: none;
        width: auto;
    }
    & .contact-content {
        display: flex;
        @include flex-djacai(column, center, center, center);
        margin: 1.5rem;
        @include desktop {
            margin: 1rem;
        }
        p {
            margin-bottom: 0.2rem;
        }
        h4 {
            margin-bottom: 0.5rem;
            @include desktop {
                width: 400px;
            }
        }
    }
    & table {
        @extend .prices-table;
    }
}
.contact-hours {
    display: flex;
    @include flex-djacai(column, center, center, center);
    grid-area: hours;
    align-self: stretch;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
}
.contact-phone {
    display: flex;
    @include flex-djacai(column, center, center, center);
    grid-area: phone;
    align-self: stretch;
}
.contact-mail {
    @include flex-djacai(column, center, center, center);
    grid-area: email;
    align-self: stretch;
}
.contact-us-mobile {
    display: flex;
    @include desktop {
        display: none;
    }
}
.contact-email-text {
    display: flex;
    @include flex-djacai(column, flex-start, flex-start, flex-start);
}


