*, *::before, *::after {
    box-sizing: inherit;
}

body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden; //get rid of h scrollbar 100vh/vw issue
    width: 100vw;
    height: 100%

}

section {
    position: relative;
    margin:0;
    padding:0;
}

html {
    box-sizing: content-box;
    font-family: $dent-font-body;
    font-style: normal;
    line-height: $line-height;
    font-size: $m-default-fsize; //16px default
    height: 100%;
    & h1 {
        font-family: $dent-font-head;
        //Define responsive font sizes for Header
        font-size: $m-title-fsize;
        @include desktop {
            font-size: $d-title-fsize;
        }
    }
    & h2, h3 {
        font-size: $m-sheader-fsize;
        font-family: $dent-font-head;
        @include desktop {
            font-size: $d-sheader-fsize;
        }
    }
    & h4 {
        font-size: $m-span-fsize;
        font-family: $dent-font-head;
        @include desktop {
            font-size: $d-span-fsize;
        }
    }   

    & span {
        color: $dent-cinnamon;
        font-size: $m-span-fsize;
        @include desktop {
            font-size: $d-span-fsize;
        }
    }
}

//Default links
a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

