//MOBILE MENU SPACE
.menu {
    @include flex-djacai(column, flex-start, center, center);
    height: 100%;
    width: 100%;
    color: $font-col-dark;
    background-color: rgba(255,255,255,1);
    position: fixed;
    z-index: 3;
    overscroll-behavior: contain;
    &__links {
        height: 100vh;
        display: flex; 
        @include flex-djacai(column, center, center, center);
        & a {
            font-size: 1.5em;
            @include link-decor(uppercase, 0.2rem);
            margin-bottom: 2em;
        }
    }
    &__icon {
        margin: $nav-elem-margins 2rem $nav-elem-margins auto;
        svg {
            display: flex;
            @include svg-size($svg-h, $svg-minh);
            fill: black;
        }
    }
}

// NAVIGATION BAR
.nav {
    @extend .l-nav;
    &__wr {
        width: 100%;
        display: flex;
        @include flex-djacai(row, space-between, center,center);
        @include desktop {
            display: flex;
            width: 80vw;
            max-width: 1500px;
            //@include flex-djacai(row, center, center, center);
        }
        &__logo, &__logo-white {
            @include flex-djacai(column,center,center,center);
            margin: $nav-elem-margins 2rem $nav-elem-margins 2rem;
            & img {
                display: flex;
                width: $logo-size;
            }
        }
        &__icon{ //Hamburger
            margin: $nav-elem-margins 2rem;
            @include tablet-w {
                display: none;
            }
            & svg {
                display: flex;
                @include svg-size($svg-h, $svg-minh);
            }
        }
        &__links {
            display: none;
            @include tablet-w {
                display: flex;
                & a {
                    //@include link-decor(uppercase, 0.2rem);
                    color: inherit;
                    transition: box-shadow 0.3s ease;
                    min-width: 75px;
                    margin: $nav-elem-margins 1.5rem $nav-elem-margins 0;
                    padding: 0.8rem;
                }
            }
        }
        &__tel {
            display: none;    
            @include desktop {
                display: flex;
            }
            &__wr {
                @include flex-djacai(row, flex-start, center, center);
                min-width: 200px;
                font-size: $m-default-fsize;
                // @include desktop {
                //     font-size: $d-span-fsize;
                // }
                & p {
                    color: $font-col-dark;
                }
                & svg {
                width: $nav-phone-size;
                margin: 0 1rem;
                }
            }
        }
    }
}

//HERO SECTION MODULES
.hero {
    @extend .l-hero;

    &__text {
        @include flex-djacai(column, center, center, center);
        display: inherit;
        z-index: 1;
        position: relative;
        height: 100%;
        margin: 0 2em;
        @include desktop{
            margin: 0;
        }
        &__call { //Wrapper for call-us shout out
            @include flex-djacai(row, flex-start, none, none);
            width: 100%;
            &__box {
                @include flex-djacai(row, flex-start, center, center);
                display: flex;
                width: 100%;
                min-width: 250px;
                margin: 5rem 0 0 0;
                & svg {
                    fill: $font-col-light;
                    margin: 0 2rem 2rem 1rem;
                    width: 35%;
                    max-width: 100px;
                }
                & div {
                    margin: 0 0 2rem 0rem;
                    font-size: $m-span-fsize;
                    font-weight: 500;
                    @include desktop {
                        font-size: $d-span-fsize;
                        margin: 0 0 2rem 1rem;
                    }
                }
            }
        }
    }

    &__img { //Floating image in the background
        @include desktop {
            width: 400px;
            height: 100%;
            background-image: url('../static/hero-girl.png');
            opacity: 0.15;
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y: bottom;
            z-index: 0;
            position: absolute; 
            bottom: 0; 
            right: 12%; 
        }
    }

}

//ABOUT US SECTION MODULES
.about__office {
    //margin-bottom: $section-bottom-margin;
    @include desktop {
        display: flex;
        @include flex-djacai(row, center, center, center);
        width: $d-section-width;
        max-width: 3000px; //prevent from being too large on HD screens
    }
    @include l-desktop {
        width: $ld-section-width;
    }

    &__header {
        & h2 {
            display: flex;
            @include flex-djacai(column,center,center,center);
            @include tablet-w {
                display: none;
            }
        }
    }

    &__slides {
        box-shadow: $card-shadow;
        width: 85vw;
        max-width: $office-card-max-w;
        @include desktop {
            width: 100%;
        }
        @include l-desktop {
            height: 900px;
        }

        &__slider {
            display: flex;
            @include flex-djacai(column, center, center, center);
            width: 100%;
            & img { 
                width: 100%;
                height: auto;
                max-width: 450px;
                margin: 1rem 0;
                transform: scale(.96);
            }
            &__stops {
                display: flex;
                @include flex-djacai(row, center, center, center);
                @include desktop {
                    display: none;
                }
                & img {
                    width: $stopper-width;
                    margin: $stopper-margin;
                } 
            }
        }

        &__text {
            display: flex;
            @include flex-djacai(column, flex-start, flex-start, flex-start);   
            margin: 1rem;
            @include desktop {
                width: $office-card-text-w;
                margin: 3rem;
            }
                & a {
                width: 100%;
                display: flex;
                @include flex-djacai(column,center,center,center);
            }
        }
    }
}

.button {
    margin: 2rem 0rem 1rem 0rem;
    padding: 1rem 2rem;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.25);
    border: 1px solid $font-col-dark;
    border-radius: 3px;
    color: black;
}
.button:hover {
    transform: scale(.97);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 0 0px 0px rgba(0,0,0,0.25);
}

//FLAG!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.about__team {
    margin: 0;
    padding: 4rem 0 2rem 0;
    background-image: url('../static/Hinterrhein.svg');
    //background-repeat: none;
    background-size: cover;
    width: 100vw;
    @include desktop {
        height: 71vh;
        max-height: 700px;
        display: flex;
        @include flex-djacai(column, center, center, center);   
    }
}

.team-wrapper {
    
}


.stopper-box {
            display: flex;
            @include flex-djacai(row, center, center, center);
            @include desktop {
                display: none;
            }
            & .stop-icon {
                width: $stopper-width;
                margin: $stopper-margin;
            } 
        }
.first-office {
    @include desktop {
        margin-right: 2rem;
    }
}
.picture-team {
    width: 100%;
    height: auto;
    min-width: 250px;
    max-width: 380px;
    margin-bottom: 1em;
    transform: scale(.96);
    transition: transform 300ms;
}
.picture-team:hover {
    transform: scale(.92);
}
.picture-office {
    @extend .picture-team;
    min-width: 200px;
}

.gallery-text-box {
    margin: 3rem 1.8rem 3rem 1.8rem;
    @include desktop {
        margin: 3rem 0.5rem 3rem 0.5rem;
    }
}

.about__office__slides, .myslides-team {
    
    &__text, & .gallery-text-box {
        // 
        
        // @include tablet-w {
        //     max-width: 70%;
        // }
        // @include desktop {
        //     font-size: 0.9rem;
        // }
        // @include l-desktop {
        //     font-size: 1rem;
        // }
        // & p {
        //     margin: 0 0 1.5rem 0;
        // }
        // & h2 {
        //     margin: 0 0 1rem 0;
        // }
        // & a {
        //     width: 100%;
        //     display: flex;
        //     @include flex-djacai(column, center, center, center);
        // }
    } 
}



