//NAV 
.l-nav {
    @include flex-djacai(row, space-around, center, center);
    display: flex;
    color: $font-col-light;
    transition: background-color 0.6s ease;
    position: fixed;
    z-index: 3;
    top: 0;
    height: $nav-height;
    width: 100%;
}

//HERO LAYOUT
.l-hero {
    display: flex;
    @include flex-djacai(column, center, center, center);
    color: $font-col-light;
    // background-color: $lavender-plus;
    background-image: url(../static/back-geom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    //Resize when in mobile horizontal position
    @include smartphone-h {
        height: 540px;
    }
}

//SECTIONS
.l-about {
    display: flex;
    @include flex-djacai(column, center, center, center);
}

//UTILITIES
.l-standard-w {
    width: 85vw;
    @include desktop {
        width: 60vw;
    }
    @include l-desktop {
        width: 45vw;
    }
}

.l-head { //Headers 
    font-size: $m-header-fsize;
    margin: 1rem 0 1rem 0;
    @include desktop {
        font-size: $d-header-fsize
    }
}

.l-margin-bottom {
    margin-bottom: $section-bottom-margin;
}

.l-padding-bottom { 
    padding-bottom: $section-bottom-margin;
}

.first-office {
    @include tablet-w {
        margin-right: 2rem;
    }
}

