// MIXINS

//Breakpoints
@mixin smartphone-w {
    @media screen and (min-width: $phone) {
        @content;
    }
}
@mixin tablet-w {
    @media screen and (min-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $desktop) {
        @content;
    }
}
@mixin l-desktop {
    @media screen and (min-width: $l-desktop) {
        @content
    };
}


@mixin smartphone-h {
    @media screen and (max-height: $phone-height) {
        @content;
    }
}
@mixin tall-smartphone {
    @media screen and (min-height: $tall-phone-height) and (min-width: $tall-phone-width) and (max-width: $s-tablet) {
        @content;
    }
}
@mixin tablet-h {
    @media screen and (min-width: $l-tablet) and (max-height: $l-tablet) {
        @content;
    }
}
//***

//IMPLEMENT!
@mixin font-size-vw($size) {
    font-size: get-vw($size);
    // Prevent font-size from getting too big
    @media #{$wide-screen} {
        font-size: $size;
    }
}

// @mixin margins-vw($top, $right, $bottom, $left, $section) {
//     margin-top: get-vw($top);
//     margin-right: get-vw($right);
//     margin-bottom: get-vw($bottom);
//     margin-left: get-vw($left);
// }

@mixin fixed-margins($section) {
    @if $section == hero-s {
        margin: 4rem 2rem 0 2rem;
    } @else if $section == hero-s-tall {
        margin: 6rem 2rem 0 2rem;
    } @else if $section == hero-m {
        margin: 4rem 3rem 0 3rem;
    } @else if $section == hero-l {
        margin: 5rem 4rem 0 4rem;
    } @else if $section == section {
        margin: 0rem 1.5em 0em 1.5em;
    }
}

@mixin flex-djacai($direction, $j-content, $a-content, $a-items) {
    //display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-content: $a-content;
    align-items: $a-items;

}

@mixin link-decor($case, $spacing) {
    text-transform: $case;
    letter-spacing: $spacing;
}

//NAVBAR
@mixin svg-size($h, $minh) {
    height: $h;
    min-height: $minh;
}
