// ### Palete ### //

$dent-cinnamon: rgb(241, 139, 98);
$dent-aqua: rgb(255, 255, 255);

// navbar
$dent-nav-dark: rgba(179, 89, 54, 0.8);
$dent-nav-light: rgba(85, 82, 250, 0.26);

// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Open+Sans&display=swap');
$dent-font-head: 'Abhaya Libre', serif;
$dent-font-body: 'Open Sans', sans-serif;