//Interaction switchers
.is-fixed { //hide scrolling
    overflow: hidden;
}

.is-scrollable {
    overflow: scroll;
}

//Display switchers
.is-off {
    display: none;
}

.is-flex {
    display: flex;
}

.is-hidden {
    visibility: hidden;
}

.is-desk {
    display: none;
    @include desktop {
        display: flex;
    }
}

.is-first {
    margin: 0;
    @include tablet-w {
        margin: 0 1rem 0 0;
    }
    @include desktop {
        margin: 0 2rem 0 0;
    }
}

.is-no-top {
    margin-top: 0;
    padding-top: 0;
}

.is-no-margin {
    margin: 0;
    padding: 0;
}

//Flexbox orientation switchers
.is-col-cent {
    @include flex-djacai(column, center, center, center);
}
.is-col-start {
    @include flex-djacai(column, center, center, flex-start);
}

//Color switchers
.is-light {
    fill: $font-col-light;
    color: $font-col-light;
    border-color: $font-col-light;
}
.is-fill-light {
    background-color: $font-col-light;
}

.is-dark {
    fill: $font-col-dark;
    color: $font-col-dark;
}

.is-menu {
    @include flex-djacai(column, flex-start, center, center);
}

// Navbar toggling classes
.is-trans {
    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.is-solid {
    background-color: rgba(255,255,255,1);
    //justify-content: center;
    &::after { //display cinnamon bar
        @extend .nav;
        content: " ";
        top: $nav-height;
        background-color: $dent-cinnamon;
        height: $nav-bbar-height;
        opacity: 1;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3);
    }
}