// IMPORT SECTION
@import "./variables";
@import "./funmix";


// SCSS selector styling starts here
*, *::before, *::after {box-sizing: inherit;}


html {
    font-size: 18px;
    box-sizing: content-box;
    font-family: $dent-font-body;
    & h1, h2, h3, h4 {
        font-family: $dent-font-head;
    }
    @include smartphone-w {
        font-size: 19px;
    }
    @include l-tablet-w {
        font-size: 20px;
    }
    @include desktop {
        font-size: 21px;
    }
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

// Set up the mobile menu navigation
.off {
    display: none;
}
.on-row {
    @include flex-djacai(row, center, center, center);
}
.on-col {
    @include flex-djacai(column, center, center, center);
}
.full-height {
    height: 100vh;
}

#menu-wrapper {
    height: 100vh;
    width: 100vw;
    color: black;
    background-color: rgba(255,255,255,1);
    position: fixed;
    z-index: 3;
    & .icon-flexbox {
        margin: 0.5rem 1.5rem 0.5rem auto;
        & #close-icon {
            fill: black;
            height: 3vh;
            min-height: 35px;
        }
    }
    

    & .wrapper-menu {
        //margin-top: 10rem;
        height: 100vh;
        @include flex-djacai(column, center, center, center);
        & a {
            color: black;
            font-size: 1.5em;
            @include link-decor(uppercase, 0.2rem);
            margin-bottom: 2em;
        }
    }
}
.wrapper-on { //toggler
    @include flex-djacai(column, flex-start, center, center);
    transition: display 0.6s ease;
}
.wrapper-off { //toggler
    display: none;
}

.navbar-links {
    display: none;
    margin: 0 2rem 0 3rem;
    @include s-tablet-w {
        @include flex-djacai(row, space-between, center, center);
        width: 100vw;
        color: rgb(255,255,255);
        & a {
            font-size: 16px;
            color: inherit;
            transition: box-shadow 0.3s ease;
            min-width: 80px;
            @include link-decor(uppercase, 0.2rem);
            padding: 1rem;
        }
        & a:hover {
            box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        }
    }
}
.call-us-nav {
    display: none;
    visibility: hidden;
    flex-direction: row;
    align-items: center;   
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
    margin-right: 2.5rem;
    font-size: 20px;
    @include desktop {
        display: flex;
    }
}
#phone-nav {
    width: 30px;
    margin: 1rem;
}

.navbar {
    transition: background-color 0.6s ease;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 50px;
    width: 100vw;
}
.navbar-on { //toggler
    display: flex;
    align-items: center;
}
.navbar-off { //toggler
    display: none;
}
.navbar-solid { //toggler
    background-color: rgba(255,255,255,1);
    justify-content: space-evenly;
}
.navbar-solid::after { //display cinnamon bar
    @extend .navbar;
    content: " ";
    top: 50px;
    background-color: $dent-cinnamon;
    height: 6px;
    opacity: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .3);
}
.navbar-transparent { //toggler

    background-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    justify-content: center;
}

.ham-icon-box{
    margin: 0.5rem 1.5rem 0.5rem auto;
    @include s-tablet-w {
        margin: 0rem;
    }
    & a {
        @include flex-djacai(row,center,center,center)
    }
}
#ham-icon {
    fill: white;
    height: 3vh;
    min-height: 35px;
}
.hamburger-on { //toggler
    display: flex;
    @include s-tablet-w {
        display: none
    }
}
.hamburger-off { //toggler
    display: none;
}

.logo {
    width: 40px;
    display: none;
    flex-direction: row;
    margin: 0 1rem 0 2rem;
}

//Section styling
.margins {
    @include fixed-margins(section);
    @include s-tablet-w {
        margin: 0rem 2.5em 0em 2.5em;
    }
    @media screen and (min-width: $desktop) {
        margin: 0rem 3.5em 0em 3.5em;
    }
    
}

.hero {
    color: $font-col-light;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../static/banner-minimal.png");
    background-size: initial;
    @include smartphone-h {
        height: 640px;
    }
    @include tablet-h {
        height: 900px;
    }
    #{&}-text {
        @include fixed-margins(hero-s);
        @include s-tablet-w {
            @include fixed-margins(hero-m);
        }
        @include l-tablet-w {
            @include fixed-margins(hero-l);
        }
        @include tall-smartphone {
            @include fixed-margins(hero-s-tall);
        }
        & h1 {
            font-size: 3.8rem;
            @include tall-smartphone {
                font-size: 4.2rem;
            }
            @include s-tablet-w {
                min-width: 400px;
                font-size: 4.8rem;
            }
            @include l-tablet-w {
                min-width: 600px;
                font-size: 5.8rem;
            }
            @include desktop {
                min-width: 700px;
                font-size: 6.8rem;
            }
        }
        & .slogan {
            margin: 0 0 2rem 0;
        }
        & .call-us {
            @include flex-djacai(row, none, none, none);
            min-width: 300px;
            margin: 5rem 0 0 0;
            & #phone-hero {
                fill: white;
                margin: 0 2rem 2rem 1rem;
                width: 35%;
                max-width: 200px;
            }
            & .call-us-text {
                font-size: 1.25em;
                margin: 0 0 2em 0;
            }
        }
    }
}

#about-us {
    @include flex-djacai(column, center, flex-start, center);
}

.about-header {
    @media screen and (min-width: $desktop) {
        display: none;
    }
    & h2 {
        font-size: 2.3rem;
        letter-spacing: 0.04rem;
        margin: 0 0 1.5rem 0;
        @include s-tablet-w {
            margin: 0.25rem 0 1.5rem 0;
        }
    }
}

.office-wrapper {
    @include desktop {
        @include flex-djacai(row, center, center, center);
        width: 60vw;
        max-width: 3000px; //prevent from being too large on HD screens
        
    }
}

.team-wrapper {
    margin: 0;
    padding: 4rem 0 4rem 0;
    background-image: url('../static/Hinterrhein.svg');
    //background-repeat: none;
    background-size: cover;
    width: 100vw;
    @include desktop {
        height: 71vh;
        max-height: 700px;
        @include flex-djacai(column, center, center, center);
        
    }
}

.myslides {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    width: 90vw;
    @include desktop {
        width: 100%;
    }
    & .picture-slider {
        .stopper-box {
            @include flex-djacai(row, center, center, center);
            @include desktop {
                display: none;
            }
            .stop-icon {
                width: $stopper-width;
                margin: $stopper-margin;
            } 
        }
    }
    & .gallery-text-box {
        margin: 3rem 1.8rem 3rem 1.8rem;
        @include desktop {
            margin: 3rem 0.5rem 3rem 0.5rem;
        }
    }
}
.first-office {
    @include desktop {
        margin-right: 2rem;
    }
}

.myslides-team {
    background-color: white;
    width: 85vw;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .5);
    @include desktop {
        flex-direction: row;
        margin-bottom: 0;
        width: 60vw;
    }
    & .picture-slider {
        @include desktop {
            margin: 2rem 1rem 2rem 3rem;
        }
        .stopper-box {
            @include flex-djacai(row, center, center, center);
            .stop-icon {
                width: $stopper-width;
                margin: $stopper-margin;
            }
        }
    }
    & .gallery-text-box {
        margin: 3rem 1.8rem 3rem 1.8rem;
        @include desktop {
            margin: 3rem;
        }
    }
}

.myslides, .myslides-team {
    & .picture-slider {
        @include flex-djacai(column, center, center, center);
        width: 100%;
        & img.picture-team {
            width: 100%;
            height: auto;
            min-width: 250px;
            max-width: 380px;
            margin-bottom: 1em;
            transform: scale(.96);
            transition: transform 300ms;
        }
        & img.picture { 
            width: 100%;
            height: auto;
            max-width: 450px;
            margin: 1rem 0;
            transform: scale(.96);
        }
        & img.picture-team:hover {
            transform: scale(.92);
        }
    }
    & .gallery-text-box {
        @include flex-djacai(column, flex-start, flex-start, flex-start);
        @include s-tablet-w {
            max-width: 70%;
        }
        @include desktop {
            font-size: 0.9rem;
        }
        @include l-desktop {
            font-size: 1rem;
        }
        & p {
            margin: 0;
        }
        & h2 {
            margin: 0 0 1rem 0;
        }
        & a {
            width: 100%;
            @include flex-djacai(column, center, center, center);
        }
    }
}

.fixed-height {
    @include desktop {
        height: 550px;
    }
    @include l-desktop {
        height: 450px;
    }
}

.services{
    color: black;
    background-image: url("../static/banner-minimal-service.png");
    background-size: initial;
    //box-shadow: -144px 5px 5px 0px rgba(0, 0, 0, .25);
    //background-color: $dent-cinnamon;
    & span {
        display: flex;
        align-items: initial;
        flex-direction: column;
        & a {
            @include link-decor(none, 0.1rem);
            color: black;
            font-family: $dent-font-head;
            font-weight: 1000;
            font-size: 2em;
            margin: 1rem 0 2rem 0;
        }
        & a:hover {
            color: $dent-nav-dark;
        }
    }
}
.services-margin {
    margin: 6rem 0 0 2rem;
}

.top-margin {
    margin-top: 4rem;
    @include l-tablet-w {
        margin-top: 5rem;
    }
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

table {
    line-height: 2em;
}
td {
    padding: 0 2em 0 0;
}

.map {
    margin-top: 2rem;
    width: 100vw;
    height: 60vh;
}

#calendar-icon, .phone-icon, #plane-icon {
    width: 100px;
    margin: 1em 0 1em 0;
}

.contact-box {
    width: 300px;
    max-width: 400px;
    padding: 1em 1em 1em 2em;    
    margin: 0em 0em 4rem 0em;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .3);
    & table {
        width: 100%;
        font-size: 0.85em;
    }
}
.last {
    margin-bottom: 1em;
}
.button {
    @include link-decor(uppercase, 0.2rem);
    //min-width: 100px;
    font-size: 16px;
    margin: 3rem 0rem 1rem 0rem;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    border: 1px solid black;
    border-radius: 3px;
    color: black;
}
.button:hover {
    transform: scale(.95);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

//TABLES

.employee-hours {
    font-size: 0.9rem;
    @for $i from 1 through 3 {
        ul:nth-child(3n + #{$i}) {
          background-color: lighten($base-color, $i * 5%);
        }
      }
} 