// Palete
$font-col-light: rgb(250, 250, 250);
$dent-cinnamon: #f18b62;
$dent-cinnamon-light: rgb(236, 205, 192);
$dent-marine-light:  rgba(85, 82, 250, 0.15);
$dent-aqua: #b4d4db;
// navbar
$dent-nav-dark: rgba(179, 89, 54, 0.8);
$dent-nav-light: rgba(85, 82, 250, 0.26);

// Fonts 
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Open+Sans&display=swap');
$dent-font-head: 'Abhaya Libre', serif;
$dent-font-body: 'Open Sans', sans-serif;

//Breakpoints
$phone: 500px; 
$phone-height: 639px;
$s-tablet: 640px;
$l-tablet: 820px;
$desktop: 1024px;
$l-desktop: 1400px;


//breakpoints for displaying hero banner on tall phones
$tall-phone-height: 680px;
$tall-phone-width: 374px;

$max-breakpoint: 414;
$max-breakpoint-fontsize: 1024;
$wide-screen: "(min-width: #{$max-breakpoint-fontsize}px)";  

//Varia
$stopper-width: 15px;
$stopper-margin: 4px;
$section-bottom-margin: 4rem;